.container-fluid {
  width: 400px;
  height: auto;
  border-radius: 10px;
  background-color: #1a202c;
}

.currency-app {
  padding: 35px 30px 35px 30px;
}

.currency-amount {
  width: 100%;
  border: 0;
  border-radius: 7px;
  outline: none;
  color: white;
  font-size: 17px;
  background-color: #212529;
  border-bottom: 3px solid white;
  -webkit-border-bottom: 3px solid white; 
  -moz-border-bottom: 3px solid white;
}

.currency-amount:focus {
  background-color: #262b30;
}

.currency-from {
  padding-top: 30px;
}

.currency-swap {
  padding-top: 18px;
  text-align: center;
}

.currency-swap button:focus{
  outline: none;
  box-shadow: none;
}

.currency-swap button i {
  color: white;
}

.currency-swap button:hover {
  background-color: #242842;
}

.currency-swap-btn {
  padding: 7px 16px 7px 16px;
  background-color: #323762b7;
  cursor: pointer;
  border-radius: 7px;
}

.currency-into {
  padding-top: 17px;
}

.space {
  padding-bottom: 60px;
}

.currency-header {
  text-align: center;
  padding: 50px 0px 20px 0px;
}

.currency-header div {
  color: white;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.currency-value {
  padding: 17px 0px 0px 0px;
  font-size: 20px;
  margin: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
  word-break: break-all;
}

.currency-result {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
  word-break: break-all;
}

.currency-rate {
  font-size: 21px;
  margin: 0;
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  word-break: break-all;
}

.currency-update {
  margin: 0;
  font-size: 14px;
  font-style: italic;
  color: #929292;
  padding-top: 10px;
}
